../.DS_Store
../.idea/
../Exam/
.DS_Store
.gradle/
.idea/
build/
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/org/.DS_Store
src/main/java/org/twelve/.DS_Store
src/main/resources/.DS_Store
src/main/resources/org/.DS_Store
src/main/resources/org/twelve/.DS_Store
backend/
JavaDoc/
Design/